<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>876415235058-9pco52ccbsfs1qi5huj8krmue38jr8d4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876415235058-9pco52ccbsfs1qi5huj8krmue38jr8d4</string>
	<key>API_KEY</key>
	<string>AIzaSyDvhsSCwzScRLH_SsTS-Z0wI_EzncAooi0</string>
	<key>GCM_SENDER_ID</key>
	<string>876415235058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmaschek.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-7b63f</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-7b63f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:876415235058:ios:59a9567fa1088d66</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-7b63f.firebaseio.com</string>
</dict>
</plist>